/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05/09/2022, 10:21:19
    Author     : Gabriel Porto
*/

.button1 {
    -fx-background-color : #3F045B00;
}

.ppbutton {
    -fx-background-color : #3F045B00;
    -fx-background-radius :  15 15 15 15;
}

.addtask-button {
    -fx-background-color: #8BF16C;
    -fx-padding: 5 20 5 20;
    -fx-text-fill: black;
}

.button2 {
    -fx-background-color: #333333;
    -fx-padding: 5 20 5 20;
    -fx-text-fill: white;
}

.button3 {
    -fx-background-color: #121212;
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 25px;
    -fx-text-fill: white;
}

.button-delete {
    -fx-background-color: #d66565;
    -fx-padding: 5 20 5 20;
    -fx-text-fill: black;
}

.ppbutton:hover {
    -fx-background-color : #1C1C1C ;
}

.ppbutton:pressed {
    -fx-background-color : #2B2B2B ;
}

.button1:hover {
    -fx-background-color : #1C1C1C ;
}

.button1:pressed {
    -fx-background-color : #2B2B2B ;
}

.button2:hover {
    -fx-background-color : #404040 ;
}

.button2:pressed {
    -fx-background-color : #606060 ;
}

.button3:hover {
    -fx-background-color: #181818;
}

.button3:pressed {
    -fx-background-color: #151515;
}

.addtask-button:hover {
    -fx-background-color: #b3f0a1;
}

.addtask-button:pressed {
    -fx-background-color: #80eb63;
}


.button-delete:hover {
    -fx-background-color: #e08d8d;
}

.button-delete:pressed {
    -fx-background-color: #c77373;
}

.table-view {
   -fx-background-color: transparent;

}

.table-view:focused{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #3E983E;
}

.table-view .column-header {
    -fx-background-color: #000000;
}

.table-view .table-cell{
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-transition: all ease 0.9s;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 30px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #557932;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}

.table-row-cell:hover {
    -fx-background-color: #6E9C41;
}

.table-row-cell:pressed {
    -fx-background-color: #557932;
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}

.anchor-pane-backlog {
    -fx-background-color: #000000;
}

.label-backlog {
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-text-fill: #858585;
    -fx-font-weight: bold;
}

.text-field-backlogtask {
    -fx-background-color: #a6a6a6;

}

.input-addtask {
    -fx-background-color: #484848;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.inputTaskType {
    -fx-background-color: #484848;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-mark-color: white;
}

.inputTaskType .menu-item .label {
    -fx-text-fill: black;
}

.inputTaskType .label {
    -fx-text-fill: white;
}

.text-field-selectstage {
    -fx-background-color: #a6a6a6;
    -fx-text-fill: white;
    -fx-mark-color: black;
}

.text-field-selectstage .menu-item .label {
    -fx-text-fill: black;
}

.text-field-selectstage .label {
    -fx-text-fill: black;
}

.table-view2 .table-row-cell{
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-transition: all ease 0.9s;
    -fx-cell-size: 75px;
}

.date-picker2:disabled {
    -fx-opacity: 0.3;
}

.date-picker2 {
    -fx-opacity: 0.7;

}

.progress-bar {
    -fx-backgroundcolor: green;
}